@model IEnumerable<AddressBook.Modules.PhoneNo>
<script>
    function Back() {
        window.location.href = '@Url.Action("GetPerson","Person")'
    }
</script>
<script>
    function Delete(){
        var Id = $("#phoneNoId").val();
        $.ajax({
            type:"POST",
            url: "/Person/DeletePhone",
            data: { phoneNoId:Id },
            success:function(response){
                if(response){
                    alert("Phone No Deleted Succesfully...!")
                }
                else(
                    alert("Failed to Delete Phone No")
                )
            },
            error:function(){
                alert("Failed to Delete...")
            }
        });
        location.reload();
    }
</script>
<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-primary">
            <th>Sr.No</th>
            <th>Phone NO</th>
            <th>Type</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td>@count</td>
                    <td>@data.phoneNo</td>
                    <td>@data.phoneNoType</td>
                    <td>
                        <form method="post" asp-controller="Person" asp-action="UpdatePhone">
                            <input type="hidden" name="phoneNoId" id="phoneNoId" value="@data.phoneNoId" />
                            <input type="hidden" name="personId" id="personId" value="@data.personId" />
                            <button type="submit" window.location.href='@Url.Action("UpdatePhone","Person")'>Update</button>
                        </form>
                    </td>
                    <td><input type="button" onclick="Delete()" id="delete" value="Delete" /></td>

                </tr>
                count++;
            }

        }
    </tbody>

</table>
<Button type="submit" onclick="Back()">Back</Button>