@model IEnumerable<AddressBook.Modules.PhoneNo>
<h3 style="text-align:center; color:darkblue">PHONE NO LIST</h3>
<hr />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
    function Back() {
        window.location.href = '@Url.Action("GetPerson","Person")'
    }
</script>

<script>
    function Delete(){
        var Id = $("#phoneNoId").val();
        $.ajax({
            type:"POST",
            url: "/Person/DeletePhone",
            data: { phoneNoId:Id },
            success:function(response){
                if(response){
                    alert("Phone No Deleted Succesfully...!");
                }
                else(
                    alert("Failed to Delete Phone No");
                )
            },
            error:function(){
                alert("Failed to Delete...");
            }
        });
        location.reload();
    }
</script>


<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-secondary" style="text-align:center">
            <th >Sr.No</th>
            <th >Phone NO</th>
            <th>Type</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var data in Model)
            {
                <tr style="text-align:center;color:darkblue">
                    <td>@count</td>
                    <td>@data.phoneNo</td>
                    <td>@data.phoneNoType</td>
                    <td>
                        <form method="post" asp-controller="Person" asp-action="UpdatePhone">
                            <input type="hidden" name="phoneNoId" id="phoneNoId" value="@data.phoneNoId" />
                            <input type="hidden" name="personId" id="personId" value="@data.personId" />
                            <button type="submit" class="material-icons" style="border:0px" window.location.href='@Url.Action("UpdatePhone","Person")'>edit</button>
                        </form>
                    </td>
                    <td><button type="button" class="material-icons" onclick="Delete()" style="color:red; border:0px" id="delete">delete_sweep</button></td>

                </tr>
                count++;
            }
           
        }
    </tbody>

</table>

        <form method="post" asp-controller="Person" asp-action="AddPhone">
        <input type="hidden" name="personId" value=@ViewBag.personId />
        <button type="submit" class="btn">Add Phone</button>
        </form>
        <br />

<Button type="submit" class="btn1" onclick="Back()">Back</Button>