@model AddressBook.Modules.PhoneNo
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<h3>Update phone No.</h3>
<form>
    <label for="phoneNo">Phone Number</label>
    <input type="hidden" name="phoneNoId" id="phoneNoId" value="@Model.phoneNoId" />
    <input name="phoneNo" id="phoneNo" value="@Model.phoneNo" /><br />

    <lable for="phoneNoType">Type</lable><br />

    
    <input type="radio" id="phoneNoType" name="phoneNoType" value="Home" @(Model.phoneNoType.ToString() == "Home" ? "checked " : "") />
    <label for="Home">Home</label>&nbsp;&nbsp;

    
    <input type="radio" id="phoneNoType" name="phoneNoType" value="Work" @(Model.phoneNoType.ToString() == "Work" ? "checked " : "") />
    <label for="Work">Work</label>&nbsp;&nbsp;

   
    <input type="radio" id="phoneNoType" name="phoneNoType" value="Mobile" @(Model.phoneNoType.ToString() == "Mobile" ? "checked " : "") />
    <label for="Mobile">Mobile</label>&nbsp;&nbsp;

    
    <input type="radio" id="phoneNoType" name="phoneNoType" value="Other" @(Model.phoneNoType.ToString() == "Other" ? "checked " : "") />
    <label for="Other">Other</label>&nbsp;&nbsp;

    <input type="hidden" name="personId" id="personId" value="@Model.personId" /><br /><br />

    <input type="button" id="UpdatePhone" onclick="update()"value="Update" />
</form>
<script>
    function update(){
        var phone = {
            phoneNoId: $("#phoneNoId").val(),
            phoneNo: $("#phoneNo").val(),
            phoneNoType: $("input[type='radio']:checked").val(),
            personId: $("#personId").val()
        };
    $.ajax({
        type:"POST",
        url:"/Phone/UpdatePhone",
        data: phone,
        success: function (response) {
            if (response) {
                alert("Phone record updated.");
                var Id='@Model.personId';
                    window.location.href='@Url.Action("GetPhone","Person")?personId='+Id;
            } else {
                alert("Phone not found.");
            }
        },
        error: function () {
            alert("error updating the Phone.");
        }
    });
       
    }

</script>