@model AddressBook.Modules.PhoneNo
<h3>Update phone No.</h3>
<form method="post" asp-controller="Phone" asp-action="UpdatePhone">
    <label for="phoneNo">Phone Number</label>
    <input type="hidden" name="phoneNoId" id="phoneNoId" value="@Model.phoneNoId" />
    <input name="phoneNo" id="phoneNo" value="@Model.phoneNo" /><br />

    <lable for="phoneNoType">Type</lable><br />

    
    <input type="radio" id="Home" name="phoneNoType" value="Home" @(Model.phoneNoType.ToString() == "Home" ? "checked " : "") />
    <label for="Home">Home</label>&nbsp;&nbsp;

    
    <input type="radio" id="Work" name="phoneNoType" value="Work" @(Model.phoneNoType.ToString() == "Work" ? "checked " : "") />
    <label for="Work">Work</label>&nbsp;&nbsp;

   
    <input type="radio" id="Mobile" name="phoneNoType" value="Mobile" @(Model.phoneNoType.ToString() == "Mobile" ? "checked " : "") />
    <label for="Mobile">Mobile</label>&nbsp;&nbsp;

    
    <input type="radio" id="Other" name="phoneNoType" value="Other" @(Model.phoneNoType.ToString() == "Other" ? "checked " : "") />
    <label for="Other">Other</label>&nbsp;&nbsp;

    <input type="hidden" name="personId" id="personId" value="@Model.personId" /><br /><br />

    <button type="submit">Submit</button>
</form>
