@model IEnumerable<AddressBook.Modules.EmailAddress>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
    function Back() {
        window.location.href = '@Url.Action("GetPerson","Person")'
    }
</script>

<script>
    function DeleteEmail() {
        var Id=$("#EId").val();
        $.ajax({
            type: "POST",
            url: "/Person/DeleteEmail",
            data: {EId:Id},
            success: function (response) {
                if (response) {
                    alert("Deleted SuccessFully.");
                } else {
                    alert("Failed.");
                }
            },
            error: function () {
                alert("Error Deleting");
            }
        });
        location.reload();
    }
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>


<h3 style="text-align:center; color:darkblue">EMAIL LIST</h3>
<hr />

<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-secondary">
            <th>Sr.No</th>
            <th>Email Address</th>
            <th>Email Type</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var data in Model)
            {
                <tr>
                    <td>@count</td>
                    <td>@data.EmailAdd</td>
                    <td>@data.EmailType</td>
                    <td>
                        <form method="post" asp-action="UpdateEmail" asp-controller="Person">
                            <input type="hidden" name="EId" id="EId" value="@data.EId" />
                            <input type="hidden" name="personId" id="personId" value="@data.personId" />
                            <button type="submit" class="material-icons" style="border:0px" window.location.href='@Url.Action("UpdateEmail","Person")'>edit</button>
                        </form>
                    </td>
                 <td>
                        <button type="button" id="DeleteEmail" class="material-icons" style="color:red; border:0px" onclick="DeleteEmail()">delete_sweep</button>
                 </td>
                    
                </tr>
                count++;
            }

        }
    </tbody>
</table>
<form method="post" asp-controller="Person" asp-action="AddEmail">
    <input type="hidden" name="personId" value=@ViewBag.personid>
    <button type="submit" class="btn" window.location.href='@Url.Action("AddEmail", "Person")'>Add Email</button>
</form>
<br />
<Button type="submit" class="btn1" onclick="Back()">Back</Button>

