@model AddressBook.Modules.EmailAddress
<h3>Update Email</h3>
<form method="post" asp-controller="Email" asp-action="UpdateEmail">
    <input type="hidden" name="Eid" id="Eid" value="@Model.EId" />
        <lable for="EmailAdd">Email Address</lable>
        <input type="text" name="EmailAdd" id="EmailAdd" value="@Model.EmailAdd" /><br />
        <lable for="EmailType">Email Type</lable><br />

    <input type="radio" name="EmailType" id="Work" value="Work" @(Model.EmailType.ToString()=="Work" ? "checked":"")/>
    <lable for="Work">Work</lable>&nbsp;&nbsp;

    <input type="radio" name="EmailType" id="Home" value="Home" @(Model.EmailType.ToString() == "Home" ? "checked" : "") />
    <lable for="Home">Home</lable>&nbsp;&nbsp;

    <input type="radio" name="EmailType" id="Other" value="Other" @(Model.EmailType.ToString() == "Other" ? "checked" : "") />
    <lable for="Other">Other</lable><br /><br />

    <input type="hidden" name="personId" id="PersonId" value="@Model.personId" />

    <button type="submit">Submit</button>
    </form><br />

