@model AddressBook.Modules.EmailAddress
<h3 style="text-align:center; color:darkblue">UPDATE EMAIL</h3>
<hr />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<style>
    .update {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn {
        background-color: #4CAF50;
    }

    .btn:hover {
       background-color: green;
    }

    .btn1 {
        background-color: grey;
        color: aliceblue;
        border: 0px
    }

    .btn1:hover {
         background-color: black;
    }

</style>
<form>
    <input type="hidden" name="EId" id="EId" value="@Model.EId" />
    <label for="EmailAdd">Email Address</label><br />
    <input type="text" name="EmailAdd" class="update" id="EmailAdd" value="@Model.EmailAdd" />
    <br />
    <label for="EmailType">Email Type</label>
    <br />
    <input type="radio" name="EmailType" id="EmailTypes" value="Work" @(Model.EmailType.ToString() == "Work" ? "checked" : "") />
    <label for="Work">Work</label>&nbsp;&nbsp;
    <input type="radio" name="EmailType" id="EmailType" value="Home" @(Model.EmailType.ToString() == "Home" ? "checked" : "") />
    <label for="Home">Home</label>&nbsp;&nbsp;
    <input type="radio" name="EmailType" id="EmailTypee" value="Other" @(Model.EmailType.ToString() == "Other" ? "checked" : "") />
    <label for="Other">Other</label>
    <br />
    <br />
    @*<input type="hidden" name="personId" id="personId" value="@Model.personId" />*@
    <input type="button" id="updateEmail" class="btn" onclick="update(event)" data-personId='@Model.personId' value="Update" /><br /><br />
    <input type="button" class="btn1" onclick="Back()" value="Back"/>
</form>

<script>
    function update(event) {
        var element = event.currentTarget;
        var obj=$(element);
        console.log("Obj : "+obj);
        console.log("Element : "+element);
            var email = {
            EId: $("#EId").val(),
            EmailAdd: $("#EmailAdd").val(),
            EmailType: $("input[type='radio']:checked").val(),
            personId: $("#updateEmail").attr('data-personId')
        };
        $.ajax({
            type: "POST",
            url: "/Email/UpdateEmail",
            data: email,
            success: function (response) {
                console.log("Response : "+response);
                if (response) {
                    alert("Email record updated.");
                    var Id='@Model.personId';
                    window.location.href='@Url.Action("GetEmail","Person")?personId='+Id;
                } else {
                    alert("Email not found.");
                }
            },
            error: function () {
                alert("error updating the email.");
            }

        });
        console.log(JSON.stringify(email))
       
    }

    function Back(){
        var Id = '@Model.personId';
        window.location.href = '@Url.Action("GetEmail","Person")?personId=' + Id;
    }
        
</script>


