@model AddressBook.Modules.Person
<h3>@ViewBag.Result</h3>
<h1 style ="text-align:center; color:darkblue">ADD PERSON</h1>
<hr />
<script>
    function back(){
        window.location.href = '@Url.Action("GetPerson", "Person")'
    }
</script>

<div>
    <form method="post" asp-controller="Person" asp-action="Add">
        <label for="title">Title</label><br />
        <select name="title" class="add" id="title">
            <option value="Mr.">MR</option>
            <option value="Mrs.">MRS</option>
        </select><br />

        <label for="firstName">FirstName</label><br />
        <input type="text" class="add" name="firstName" id="firstName" placeholder="FirstName" />&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(model => model.firstName,"", new { @class = "text-danger" })<br />

        <label for="lastName">LastName</label><br />
        <input type="text" class="add" name="lastName" id="lastName" placeholder="LastName"/>&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(item=>item.lastName,"", new { @class = "text-danger" })<br />

        <label for="middleName">MiddleName</label><br />
        <input type="text" class="add" name="middleName" id="middleName" placeholder="MiddleName"/>&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(item=>item.middleName,"", new { @class = "text-danger" })<br />

        <label for="age">Age</label><br />
        <input type="number" class="add" name="age" id="age" placeholder="Age"/>&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(item=>item.age,"", new { @class = "text-danger" })<br />

        <label for="dob">Date Of Birth</label><br />
        <input type="date" class="add" name="dob" id="dob" placeholder="Date of Birth"/>&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(item=>item.DOB,"", new { @class = "text-danger" })<br />

        <label for="gender">Gender </label><br />

        <input type="radio" name="gender" id="gender" value="Male" />
        <label for="gender">Male</label>&nbsp;&nbsp;

        <input type="radio" name="gender" id="gender" value="Female" />
        <label for="gender">Female</label>&nbsp;&nbsp;

        <input type="radio" name="gender" id="gender" value="Other" />
        <label for="gender">Other</label>&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(item=>item.gender,"", new { @class = "text-danger" })<br />


        <label for="category">Category</label><br />
        <input type="radio" name="category" id="category" value="Business" />
        <lable for="category">Business</lable>&nbsp;&nbsp;

        <input type="radio" name="category" id="category" value="Family" />
        <lable for="category">Family</lable>&nbsp;&nbsp;

        <input type="radio" name="category" id="category" value="Other" />
        <lable for="category">Other</lable>&nbsp;&nbsp;&nbsp;
        @Html.ValidationMessageFor(item=>item.category,"", new { @class = "text-danger" })<br /><br />
        <input type="submit" class="btn" value="Submit">
        
    </form><br />
    <input type="submit" class="btn1" onclick="back()" style="border:0px;" value="Back" />
</div>
