@model IEnumerable<AddressBook.Modules.Person>
<script>
    function Add(){
         window.location.href = '@Url.Action("AddPerson", "Person")'
    }
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .main{
        display:grid;
        grid-template-columns: 50px 50px repeat(11,1fr);
        grid-gap: 2px;
        background-color:white;
        padding:2px;
    }
    .main > div{
        background-color:black;
        text-align:center;
        padding:10px 0px;
        font-size: 20px;
        color:lightgray
    }

    .secondary {
        display: grid;
        grid-template-columns: 50px 50px repeat(11,1fr);
        grid-gap: 2px;
        background-color: white;
        padding: 2px;
    }

       
    .secondary > div {
            background-color: lavender;
            text-align: center;
            padding: 10px 0px;
            font-size: 20px;
            color: darkblue;
    }

    .btn{
        background-color: #4CAF50;
    }
    .btn:hover{
        background-color:green;
    }
</style>
<br />
<h3 style="text-align:center; color:darkblue">PERSON LIST</h3>
<hr />
<button type="button" class="btn" onclick="Add()">ADD PERSON</button>
<br />
<br />

    <div class="main">
        <div class="sr">Sr.No</div>
        <div class="title">Title</div>
        <div class="firstname">First Name</div>
        <div class="lastname">Last Name</div>
        <div class="middlename">Middle Name</div>
        <div class="dob">DOB</div>
        <div class="age">Age</div>
        <div class="gender">Gender</div>
        <div class="category">Category</div>
        <div class="email"> Phone</div>
        <div class="phone">Email</div>
        <div class="update">Update</div>
        <div class="delete">Delete</div>

    </div>


        @{

            int count = 1;
            foreach (var data in Model)
            {
            <div class="secondary">
            <div class="count">@count</div>
            <div class="titles">@data.title</div>
            <div class="fname">@data.firstName</div>
            <div class="lname">@data.lastName</div>
            <div class="mname">@data.middleName</div>
            <div class="date">@data.DOB</div>
            <div class="ages">@data.age</div>
            <div class="gen">@data.gender</div>
            <div class="cat">@data.category</div>
            <div class="btn1">
                <form method="post" asp-action="GetPhone">
                    <input type="hidden" name="personId" value="@data.personId">
                    <button type="submit" class="material-icons" style="border:0px;background-color:lavender" window.location.href='@Url.Action("GetPhone", "Person")'>remove_red_eye</button>
                </form>
              
            </div>

            <div>
                <form method="post" asp-action="GetEmail">
                    <input type="hidden" name="personId" value="@data.personId">
                    <button type="submit" class="material-icons" style="border:0px;background-color:lavender" window.location.href='@Url.Action("GetEmail", "Person")'>remove_red_eye</button>
                </form>
              
            </div>
            <div>
                <form method="post" asp-action="UpdatePerson">
                    <input type="hidden" name="personId" value="@data.personId">
                    <button type="submit" class="material-icons" style="border:0px;background-color:lavender" window.location.href='@Url.Action("UpdatePerson", "Person")'>edit</button>
                </form>
            </div>
            <div>
                <form method="post"  asp-action="DeletePerson">
                    <input type="hidden" name="personId" value="@data.personId" />
                    <button type="submit" class="material-icons" style="color:red; border:0px;background-color:lavender">delete_sweep</button>
                </form>
            </div>

             </div>

                count++;
            }
       
        }


